In [10]:
import pandas as pd
import pymongo

In [11]:
df = pd.read_csv('EasyVisa.csv')
df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [12]:
# converted into dict before we push it to mongodb

data = df.to_dict(orient='records')

In [ ]:
DB_NAME = "visadb"
COLLECTION_NAME = "visacollection"
CONNECTION_URL = "mongodb+srv://root1:<db_password>@cluster0.nddvo.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [14]:

client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [15]:
rec = collection.insert_many(data)

In [16]:
df = pd.DataFrame(list(collection.find()))
df.head(2)

,_id,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,67b87a5db057339fe7dae12f,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,67b87a5db057339fe7dae130,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified

In [17]:
df.shape

(25480, 13)